<p id="notice"><%= notice %></p>

<h1>Visit</h1>
<%= link_to 'Employees', admin_employees_path %>
<%= link_to 'Company Branches', admin_company_branches_path %>
<%= link_to 'Reports', admin_reports_path %>
